# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My_JAVA_wsp\SOLID Design Principles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
